.required-star .sapMSelectList {
  min-width: 200px;
  width: auto; 
}

.required-star {
  color: red; 
  font-size: 1.5em;
  vertical-align: super; 
}

.myLink {
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 4px; 
  margin-right: 4px;
}

.hbox-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}